auto-install-peers=true
strict-peer-dependencies=false
prefer-workspace-packages=true
link-workspace-packages=true
save-prefix=^
save-workspace-protocol=true
shared-workspace-lockfile=true
publish-branch=main
registry=https://registry.npmjs.org
node-linker=hoisted

# 자동 업데이트 관련 설정
save-exact=false
resolution-mode=highest

# 워크스페이스 패키지 관련 설정
public-hoist-pattern[]=*
